



<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="display-1" id="welcomeText">Welcome</h1>
            <pre class="lead" id="bodyText">
At Website.com, we believe everyone deserves to have a website or online store.
Innovation and simplicity makes us happy: 
our goal is to remove any technical or 
financial barriers that can prevent business owners from making their own website.
 We're excited to help you on your journey!
</pre>
        </div>
    </div>
</div>
