.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backGroundCard {
    background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-color: #cbae82;*/
}
.transportBackground {
    background-color: transparent;
}
.backGroundStore {
    background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
